body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: repeat(4, 150px) / repeat(7, 1fr);
  grid-template-areas:
    "header header header header header header header"
    ". . content content content . ."
    ". . content content content . ."
    ". . content content content . .";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("../images/fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-size: 55px;
  margin: 10px 0;
}

.content {
  grid-area: content;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 150px 0;
  min-width: 210px;
}

.calculator {
  border: 3px solid white;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: ghostwhite;
  background-color: rgba(248, 244, 244, 0.6);
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select_menu {
  height: 25px;
  width: 40px;
  margin: 0 10px;
  border-radius: 5px;
}

button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: #3366ff;
  color: whitesmoke;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
}

.swal-title {
  margin: 0px;
  font-size: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
  color: black;
}

.swal-text {
  background-color: #fefae3;
  padding: 17px;
  border: 1px solid #f0e1a1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
